<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="GZC" connectionString="Password=dbappSEG1409*;Persist Security Info=True;User ID=db_app;Initial Catalog=DB_SEG_Desarrollo;Data Source=SEGSVRSQL01" lockItem="true" />   
    <add name="CN_ZandorCapital" connectionString="Password=dbappSEG1409*;Persist Security Info=True;User ID=db_app;Initial Catalog=DB_SEG_Desarrollo;Data Source=SEGSVRSQL01" lockItem="true" />-->

    <add name="GZC" connectionString="Password=dbappSEG1409*;Persist Security Info=True;User ID=db_app;Initial Catalog=DB_SEG;Data Source=SEGSVRSQL01" lockItem="true" />
    <add name="CN_ZandorCapital" connectionString="Password=dbappSEG1409*;Persist Security Info=True;User ID=db_app;Initial Catalog=DB_SEG;Data Source=SEGSVRSQL01" lockItem="true" />
  </connectionStrings>
  <appSettings>
    <add key="Path_Intercept_Doc" value="C:\ColombiaGold\Envios\GCG_Intercept_Intervals.xlsx" />
    <add key="domain" value="grancolombia.local" />
    <add key="activeDirectoryUlr" value="LDAP://grancolombia.local/DC=grancolombia,DC=local" />
    <add key="excel_template_name" value="GCG_Intercept_Intervals.xlsx" />
    <add key="IDProject" value="1" />
    <add key="Version" value="2.31" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>